
li{list-style: none;}
a{text-decoration: none;}
p{margin:5px;}
.c-gray{color: gray !important}
.c-orange{color: orange !important}
.m-5{margin: 5px;}
.font-sm{font-size:11px;}
.contribution-arrow{cursor:pointer;}
.pointer{cursor:pointer;}


.comment-item {
    list-style-type: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
    padding-left: 15px;
    list-style-type: none; 
    
}

.comment-info {
    margin-top: 2px;
    margin-bottom: -10px;
    font-size: 8pt;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2px;
}

.comment-text {
    max-width: 620px;
    overflow: hidden;
    font-size: 9pt;
    color: #000000;
    overflow-wrap: anywhere;
    padding-left: 15px;
    padding-top: 10px;
}
.comment-reply{
    padding-left: 15px;


}

.comment-link {
    color:inherit ;
}
.comment-item-container{
    display:flex;
    align-items:center;
    padding-left:5px;
}
.reply-link{
    padding-left:2em;
}

.detailedCon-info{
    display:flex;
    color:gray;
    font-size:8pt;
}


.detailedCon-title{
    display:grid;
    grid-template-columns:auto 1fr;
    align-items:center;
}

.detailedCon-text{
    display:grid;
}

.detailedCon{
    display:grid;
    grid-template-columns: auto 1fr;
    padding-top:5px;
    padding-bottom:5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}